doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet',href='/javascripts/vendor/jquery-ui-1.11.4.custom/jquery-ui.theme.min.css')
    script(src='/javascripts/vendor/jquery-2.2.4.min.js')
    script(src='/javascripts/vendor/jquery-ui-1.11.4.custom/jquery-ui.min.js')

    script(src='/javascripts/vending-machine-client.js')
  body
    block content
